#TYPE	DATABASE	USER		ADDRESS		METHOD
host	replication	replica		172.17.0.7/32	trust
host    replication     replica         172.17.0.7/32   peer
host    replication     replica         172.17.0.7/32   md5
